@use "../../styles/vars.scss" as *;

.header {
  position: static;
  padding: 30px 0;
  color: #ffffff;
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #ffffff;
  color: #181818;
  letter-spacing: 1px;
  font-weight: 700;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
